---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Panel from "../components/Panel.astro";

const panels = [
  { title: "About" },
  { title: "Work" },
  { title: "Craft" },
  { title: "Writing" },
  { title: "Photos" },
  { title: "Contact" },
];
---

<Layout>
  <main>
    <Carousel count={panels.length}>
      {panels.map(({ title }) => <Panel title={title} />)}
    </Carousel>
  </main>
</Layout>
