---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import PixelRocket from "../components/PixelRocket.astro";
---

<Layout>
  <ThemeToggle />
  <PixelRocket />
  <main>
    <section id="hero" class="flex min-h-screen items-center justify-center">
      <h1 class="font-pixel text-2xl">awln.dev</h1>
    </section>
  </main>
</Layout>
