---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Panel from "../components/Panel.astro";

const panels = [
  { title: "About", href: "/about" },
  { title: "Projects", href: "/projects" },
  { title: "Tools", href: "/tools" },
  { title: "Events", href: "/events" },
  { title: "Links", href: "/links" },
];
---

<Layout>
  <main>
    <Carousel count={panels.length}>
      {panels.map(({ title, href }) => <Panel title={title} href={href} />)}
    </Carousel>
  </main>
</Layout>
