---
import MenuBar from "./MenuBar.astro";
import DesktopIcons from "./DesktopIcons.astro";
import WindowHost from "./WindowHost.astro";
import { APPS } from "../../data/apps";
---

<div class="desktop" data-desktop>
  <MenuBar />
  <div class="desktop-surface">
    <DesktopIcons apps={APPS} />
    <WindowHost />
  </div>
</div>

<script>
  const wp = localStorage.getItem("wallpaper");
  if (wp && wp !== "default") {
    const desktop = document.querySelector<HTMLElement>("[data-desktop]");
    if (desktop) {
      desktop.style.backgroundImage = `url(/wallpapers/${wp}.png)`;
      desktop.setAttribute("data-wallpaper", wp);
    }
  }
</script>

<style>
  .desktop {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--wallpaper);
    background-image: var(--paper-noise);
    background-repeat: repeat;
    background-size: 200px 200px;
  }
  .desktop[data-wallpaper] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .desktop-surface {
    position: relative;
    flex: 1;
    min-height: 0;
  }
</style>
