---
import MenuBar from "./MenuBar.astro";
import DesktopIcons from "./DesktopIcons.astro";
import WindowHost from "./WindowHost.astro";
import { APPS } from "../../data/apps";

const leftApps = APPS.filter((a) => a.desktopColumn === "left");
const rightApps = APPS.filter((a) => a.desktopColumn === "right");
---

<div class="desktop" data-desktop>
  <MenuBar />
  <div class="desktop-surface">
    <DesktopIcons apps={leftApps} side="left" />
    <DesktopIcons apps={rightApps} side="right" />
    <WindowHost />
  </div>
</div>

<style>
  .desktop {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--wallpaper);
    background-image: var(--paper-noise);
    background-repeat: repeat;
    background-size: 200px 200px;
  }
  .desktop-surface {
    position: relative;
    flex: 1;
    min-height: 0;
  }
</style>
