---
import MenuBar from "./MenuBar.astro";
import DesktopIcons from "./DesktopIcons.astro";
import WindowHost from "./WindowHost.astro";
import CommandPalette from "../CommandPalette";
import { APPS } from "../../data/apps";

const desktopApps = APPS.filter((a) => a.id !== "passwords");
---

<div class="desktop" data-desktop>
  <MenuBar />
  <div class="desktop-surface">
    <DesktopIcons apps={desktopApps} />
    <WindowHost />
  </div>
  <CommandPalette client:only="preact" />
</div>

<script>
  import { initScreensaver } from "../../scripts/screensaver";
  initScreensaver();
</script>

<style>
  .desktop {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--wallpaper);
    background-image: var(--paper-noise);
    background-repeat: repeat;
    background-size: 200px 200px;
  }
  .desktop[data-wallpaper] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .desktop[data-wallpaper="wallpaper7"] {
    background-size: 200px 200px;
    background-repeat: repeat;
  }
  .desktop-surface {
    position: relative;
    flex: 1;
    min-height: 0;
  }
</style>
